{;; see:
 ; https://github.com/practicalli/clojure-deps-edn#visualizing-project-vars-and-library-dependencies

 ;; Aliases
        ;;   resolve-deps aliases (-R) affect dependency resolution, options:
        ;;     :extra-deps - specifies extra deps to add to :deps
        ;;     :override-deps - specifies a coordinate to use instead of that in :deps
        ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
        ;;   make-classpath aliases (-C) affect the classpath generation, options:
        ;;     :extra-paths - vector of additional paths to add to the classpath
        ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 :aliases
 {:find-deps {:extra-deps {find-deps/find-deps
                           {:git/url "https://github.com/hagmonk/find-deps"
                            :sha "6fc73813aafdd2288260abb2160ce0d4cdbac8be"}}
              :main-opts ["-m" "find-deps.core"]}

  :outdated {;:replace-deps {}
             :extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop     {:mvn/version "1.7.30"}
                          }
             :main-opts ["-m" "antq.core"]}

   ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  #_:cloverage #_{:extra-paths ["test"]
              :extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}
                           eftest/eftest {:mvn/version "0.5.9"}}
              :exec-fn cloverage.coverage/run-project
              :exec-args {:test-ns-path ["test"]
                          :src-ns-path ["src"]
                          :runner :eftest
                          :runner-opts {:test-warn-time 500
                                        :fail-fast? true
                                        :multithread? :namespaces
                                        :codecov? true}}}

;  :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.11.918"}}}
 ; :test {:extra-paths ["test"]}

;  :test-clj {:extra-paths ["test"]
;             :extra-deps  {eftest/eftest {:mvn/version "0.5.7"}}
;             :main-opts   ["-e"  "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}
;  :test-cljs {:extra-paths ["test"]
;             :extra-deps  {olical/cljs-test-runner {:mvn/version "3.5.0"}}
;            :main-opts   ["-m" "cljs-test-runner.main" "-o" "target/cljs-test-runner-out"]}

  ;:jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
  ;      :exec-fn hf.depstar/jar
  ;      :exec-args {}}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
             ;cider/nrepl {:mvn/version "0.3.0"}
                       cider/piggieback {:mvn/version "0.4.2"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "-b" "0.0.0.0"
                      "-p" "12345"
                       ;"--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"
                      ]}

  ; metav
  ;:metav {:extra-deps {metav/metav {:mvn/version "1.6.7"}}}
  ;:artifact-name {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
  ;                :main-opts ["-m" "metav.display"]}
  ;:release {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
  ;          :main-opts ["-m" "metav.release"]}
  ;:spit     {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
  ;           :main-opts ["-m" "metav.spit"
  ;                       "--output-dir" "src"
  ;                       "--namespace" "yournamespace.meta"
  ;                       "--formats" "clj"]}

  ; gorilla notebook
  ;:notebook {:extra-deps {org.pinkgorilla/notebook-bundel {:mvn/version "0.5.4"}}
  ;           :exec-fn pinkgorilla.notebook-ui.app-bundel.app/notebook-bundel-run!
  ;           :exec-args {:args ["notebook-config.edn"]}
  ;           ;:main-opts ["-m" "pinkgorilla.notebook-ui.app-bundel.app"]
  ;           }

;
  }

  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
 }

