;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies

  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.10.3"}
  ;; }

  ;; Aliases
	;;   resolve-deps aliases (-R) affect dependency resolution, options:
	;;     :extra-deps - specifies extra deps to add to :deps
	;;     :override-deps - specifies a coordinate to use instead of that in :deps
	;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
	;;   make-classpath aliases (-C) affect the classpath generation, options:
	;;     :extra-paths - vector of additional paths to add to the classpath
	;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 ; see also:
 ; https://github.com/practicalli/clojure-deps-edn#visualizing-project-vars-and-library-dependencies

 :aliases {;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.12.1084"}}}
  ;;   :test {:extra-paths ["test"]}
           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts ["-m" "antq.core"]}

           :cljfmt-fix
           {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
            :main-opts ["-m" "cljfmt.main" "fix"
                        "--indents" "/home/florian/.config/clojure/cljfmt.edn"]}

           ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
           :lint
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

           :tree
           {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
            :exec-fn clojure.tools.cli.api/tree}

           :find-deps 
           {:extra-deps {find-deps/find-deps {:git/url "https://github.com/hagmonk/find-deps"
                                             :sha "6fc73813aafdd2288260abb2160ce0d4cdbac8be"}}
            :main-opts ["-m" "find-deps.core"]}            
            
            ;
            }

           :nrepl 
           {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                         ;cider/nrepl {:mvn/version "0.3.0"}
                         cider/piggieback {:mvn/version "0.4.2"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "-b" "0.0.0.0"
                        "-p" "12345"
                        ;"--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"
                       ]}



  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
 }